.homeAboutUs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 85px 0;
}
.homeTitle{
    text-align: center;
    margin: 45px 0;
}
.homeTitle p {
    margin-bottom: 0;
}
.homeTitle h1 {
    margin-bottom: 0;
    padding-top: 5px;
    font-size: 56px;
}
.homeTitle div {
    margin: auto;
    width: 60px;
    height: 2px;
    background-color: #00C6CF;
}
.hAbUsImg{
    width: 45%;
    position: relative;   
    height: 360px;
}
.hAbUsImg img{
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    object-fit: cover;
    position: absolute;
}
.hAbUsContent{
    width: 65%;
    padding-left: 40px;
}
.hAbUsContent h2{
    font-size: 28px;
    font-weight: 200;
}
.hAbUsContent p {
    margin-bottom: 0;
    color: #777;
    font-weight: 600;
}
.hAbUsIcons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 25px;
}
.hAbUsIconsItem{
    width: 33%;
    text-align: center;
    margin-bottom: 20px;
}
.hAbUsIconsItem img{
    width: 36px;
    margin-bottom: 10px;
}
.hAbUsIconsItem h3{
    text-align: center;
    padding: 0;
    font-size: 14px;
}

.hAbUsContent .fas {
    font-size: 24px;
    position: relative;
    top: -1px;
}